<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nyu.scps.SpeechPlayer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Controller.SpeechPlayer"
        android:allowBackup="true"
        android:icon="@drawable/paperscroll"
        android:label="@string/app_name">

        <activity
            android:name=".View.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.PlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar2">
        </activity>

        <activity
            android:name=".View.ListActivity"
            android:theme="@style/AppThemeNoBar2" >
        </activity>

        <activity
            android:name=".View.WikipediaActivity"
            android:theme="@style/AppThemeNoBar2">
        </activity>

        <service
            android:name=".Controller.MediaPlayerService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:label="@string/start_service" >
                <action android:name="edu.nyu.scps.speechplayer.service.MY_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
