<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.swain.asa.famous_pres_speeches">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- in application largeHeap tag requests extra memory for this application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/scroll_icon"
        android:label="@string/app_name"
        android:largeHeap="true">
        <activity
            android:name="org.swain.asa.famous_pres_speeches.View.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.swain.asa.famous_pres_speeches.View.PlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar2"/>
        <activity
            android:name="org.swain.asa.famous_pres_speeches.View.ListActivity"
            android:theme="@style/AppThemeNoBar2"/>
        <activity
            android:name="org.swain.asa.famous_pres_speeches.View.WikipediaActivity"
            android:theme="@style/AppThemeNoBar2"/>
        <activity
            android:name="org.swain.asa.famous_pres_speeches.View.SpeechTextActivity"
            android:theme="@style/AppThemeNoBar2"/>
        <activity
            android:name="org.swain.asa.famous_pres_speeches.View.CreditsActivity"
            android:theme="@style/AppThemeNoBar2"/>

        <service
            android:name="org.swain.asa.famous_pres_speeches.Controller.MediaPlayerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:label="org.swain.asa.famous_pres_speeches.service.MY_SERVICE">
                <action android:name="org.swain.asa.famous_pres_speeches.service.MY_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
